.container {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  padding-block: 12px;
}

.link {
  padding-inline: 12px;
  cursor: pointer;
  color: var(--color-100);
  &:hover {
    color: var(--color-200);
    text-decoration: underline;
  }
}
